.fixed-bottom-right {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 50;
}

/* ✅ 알림 버튼 */
.notification-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14;
  height: 14;
  background-color: gray;
  color: white;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s;
  animation: bounce 1s infinite;
}

.notification-button:hover {
  background-color: orange;
}

.unread-count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: yellow;
  color: black;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
}

/* ✅ 알림 목록 */
.notification-list {
  position: absolute;
  bottom: 4rem;
  right: 0;
  width: 18rem;
  background-color: gray;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid #ccc;
}

.notification-title {
  font-size: 1.125rem;
  font-weight: 600;
  color: #2d3748;
  margin-bottom: 0.5rem;
}

.notification-list ul {
  max-height: 10rem;
  overflow-y: auto;
}

.notification-item {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: background-color 0.2s;
}

.notification-item:last-child {
  border-bottom: none;
}

.notification-item:hover {
  background-color: #3b82f6;
}

.notification-post-id {
  font-size: 0.875rem;
  font-weight: bold;
}

.notification-count {
  background-color: #3b82f6;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
}

/* ✅ 알림 지우기 버튼 */
.clear-button {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  background-color: rgb(156, 163, 175);
  border-radius: 0.5rem;
  color: black;
  font-weight: 600;
  transition: background-color 0.2s;
}

.clear-button:hover {
  background-color: red;
}

/* ✅ 애니메이션 */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
